* {

    outline: none !important;
    background-clip: none !important;
}

.error {
    color: red !important;
    font-style: italic;
}

button,
textarea,
input {
    border: 0.1px solid rgb(144, 163, 189) !important;
}

.size {
    max-width: 1150px;
}

form input,
textarea,
button {
    color: lightgray !important;
    background: #023774 !important;
    padding-left: 0.5rem !important;
}

input::placeholder,
textarea::placeholder {
    color: lightgray !important;
}

label,
span,
h3,
h4,
a,
p {
    color: lightgray !important;
}

li a:hover {
    color: #002D62 !important;
}

#bg {
    background: #023774 !important;
}

.bg1 {
    background: #012169 !important;
}

table,
th,
td {
    color: lightgray !important;
    box-shadow: none !important;

}

.sorting_1 {
    background-color: rgb(14, 21, 27) !important;
}

.dataTables_filter {
    float: none !important;
}

label input {
    background: #023774;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: lightgrey;


}

select {
    background: #023774;
    color: lightgray;
}

.dataTables_info,
.dataTables_paginate {
    display: none !important;
}


@media screen and (max-width:500px) {
    .dataTables_wrapper {
        display: flex !important;
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .dataTables_length,
    .dataTables_filter {
        margin: 0 auto !important;

    }

    .sorting,
    .sorting_asc,
    .sorting_desc {
        background: black url('') !important;
    }

    h4,
    h3,
    h5,
    tr,
    th,
    td {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width:880px) {
    h3 {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width:500px) {

    h4,
    h3,
    h5,
    input,
    button,
    input::placeholder,
    textarea::placeholder {
        font-size: 0.9rem !important;
    }

    tr,
    th,
    td {
        font-size: 0.6rem !important;
    }
}