* {

    outline: none !important;
    background-clip: none !important;
}

body {
    background: #0043c0 !important;
    background-repeat: no-repeat;

}

.size {
    max-width: 1150px;
}

form input,
textarea,
button {
    color: lightgray !important;
    background: #023774 !important;
    padding-left: 0.5rem !important;
}

input::placeholder,
textarea::placeholder {
    color: lightgray !important;
}

label,
span,
h3,
h4,
a,
p {
    color: lightgray !important;
}

li a:hover {
    color: #002D62 !important;
}

#bg {
    background: #023774 !important;
}

.bg1 {
    background: #012169 !important;
}

table,
th,
td {
    color: lightgray !important;
}

.sorting_1 {
    background-color: black !important;
}

.dataTables_filter {
    float: none !important;
}

.dataTables_info,
.dataTables_paginate {
    display: none !important;
}

@media screen and (max-width:500px) {
    .dataTables_wrapper {
        display: flex !important;
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .dataTables_length,
    .dataTables_filter {
        margin: 0 auto !important;

    }
}